%html
  %head
    %title TelVue Documentation Server
    %link{ rel: 'stylesheet', href: '//cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css' }
    :css
      .side-nav li {
        font-size: 24px;
      }

  %body
    %header.row
      %h1 TelVue Documentation Server
    %section.row
      :markdown
        The following projects are TelVue Ruby apps and libraries with
        [YARD documentation](http://yardoc.org) served on this site.
        Click any of the links to be taken directly to the code's
        developer documentation.
      - if @app_names.any?
        %ul.side-nav
          - @app_names.each do |name|
            %li
              %a{ href: "#{name}/frames.html", target: "_blank" }= name
      - else
        .none There are no apps to display.
